<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <title>三级导航</title>
    <link rel="stylesheet" type="text/css" href="css/left-side-menu.css">
    <link rel="stylesheet" type="text/css" href="font/iconfont.css">
    <link rel="stylesheet" href="css/BeerSlider.css">
    <style>
        body{background-color: #272727}
        .m {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <script src="js/jquery.min.js"></script>

</head>
<body>
<div style="width: 100% ;height: 100%;">
    <div class="left-side-menu" style="float: left" >
        <div class="lsm-expand-btn">
            <div class="lsm-mini-btn">
                <label>
                    <input type="checkbox" checked="checked">
                    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="50" cy="50" r="30" />
                        <path class="line--1" d="M0 40h62c18 0 18-20-17 5L31 55" />
                        <path class="line--2" d="M0 50h80" />
                        <path class="line--3" d="M0 60h62c18 0 18 20-17-5L31 45" />
                    </svg>
                </label>

            </div>

        </div>
        <div class="lsm-container">
            <div class="lsm-scroll" >
                <div id = "datalist" class="lsm-sidebar">
                </div>
            </div>
        </div>

    </div>
    <div class="m" style="width: 85%;height: 100%;float: left;">
        <div id="slider2" class="beer-slider"  data-beer-label="低">
            <img id="imgs" src="/template/Pictures/pubg/1/high.jpg" alt="">
            <div class="beer-reveal" id = "slider29" data-beer-label="最高">
                <img  id = "img" src="/template/Pictures/pubg/1/low.jpg" alt="">
            </div>
        </div>
    </div>
</div>


<script src="js/BeerSlider.js"></script>
<script>
    $(document).ready(function(){
        $.ajax({
            url : "/getFilePath",
            async : false ,
            type: 'POST',
            // dataType : "json",
            success: function(data) {

                console.log(data);
                var jsonFile = JSON.parse( data );
                var i = 0;
                var j = 0;
                var h = 0;

                for (i = 0 ;i <= jsonFile.length-1 ;i++){
                    var btn1 = "<ul>";
                    btn1 = btn1 + "<li class=\"lsm-sidebar-item\"><a href=\"javascript:;\"><i class=\"my-icon lsm-sidebar-icon icon_1\"></i><span id = "+jsonFile[i].Name+">"+jsonFile[i].Name+"</span><i class=\"my-icon lsm-sidebar-more\"></i></a>";
                    var json2 = jsonFile[i].ToDir;
                    var btn2 = "<ul>";
                    for (j = 0 ;j <= json2.length-1 ;j++){
                        var value = getDir(json2[j].DirTwo);
                        btn2 = btn2 + "<li class=\"lsm-sidebar-item\"><a href=\"javascript:;\" id = "+json2[j].DirTwo+" onclick = picture(this)><i class=\"my-icon lsm-sidebar-icon \" ></i><span >"+value+"</span><i class=\"my-icon lsm-sidebar-more\"></i></a>";
                        var file = json2[j].File;
                        var btn3 = "<ul>";
                        for (h = 0 ;h <= file.length-1 ;h++){
                            var img = getImg(file[h]);
                            var text = imgSwitch(img)
                            btn3 = btn3 + "<li>" +
                                // "<a href=\"javascript:;\" class= "+file[h]+" onclick = screenShot(this)>" +
                                "<a href=\"javascript:;\" class= "+file[h]+">" +
                                "<span class= "+file[h]+" style='float:left;margin-left:30px;margin-right:30px;' onclick = ScreenShotLeft(this)>左</span>" +
                                "<span style='margin: 0px;'>"+text+"</span>" +
                                "<span class= "+file[h]+" style='float:right;margin-left:30px;margin-right:30px;' onclick = ScreenShotRight(this)>右</span>" +
                                "</a>" +
                                "</li>";
                        }
                        btn3 = btn3 + "</li></ul>";
                        btn2 = btn2 + btn3 ;
                    }
                    btn2 = btn2 + "</ul>"

                    btn1 = btn1 + btn2

                    btn1 = btn1 + "</li></ul>";

                    $("#datalist").append(btn1)
                }

            }
        })
    })
    function getDir(text) {
        var dir =  text.split("\\");
        var num = dir.length;
        var value = dir[num-1];
        return value
    }
    function getImg(text) {
        var dir =  text.split("\\");
        var num = dir.length;
        var value = dir[num-1];
        var img =  value.split(".");
        var valueImg = img[0];
        return valueImg
    }
    function screenShot(element) {
        console.log(element.className);
        document.getElementById("imgs").src = "/"+element.className;
        document.getElementById("slider2").setAttribute("data-beer-label",element.firstChild.innerHTML)
    }
    //右边
    function ScreenShotRight(element) {
        console.log(element.className);
        var childs = element.parentNode.childNodes;
        var child = childs[1];
        // var text = imgSwitch(child.innerHTML)
        document.getElementById("imgs").src = "/"+element.className;
        document.getElementById("slider2").setAttribute("data-beer-label",child.innerHTML)
    }
    //左边
    function ScreenShotLeft(element) {
        console.log(element.className);
        var childs = element.parentNode.childNodes;
        var child = childs[1];
        // var text = imgSwitch(child.innerHTML)
        document.getElementById("img").src = "/"+element.className;
        document.getElementById("slider29").setAttribute("data-beer-label",child.innerHTML)
    }
    function picture(element) {
        console.log(element.id)
        document.getElementById("img").src = "/"+element.id+"/low.jpg";
        document.getElementById("slider29").setAttribute("data-beer-label","low")
    }

    function imgSwitch(text) {
        var data
        switch(text) {
            case "low":
                data = "低";
                break;
            case "mid":
                data = "中";
                break;
            case "high":
                data = "高";
                break;
            case "max":
                data = "最高";
                break;
            case "verylow":
                data = "非常低";
                break;
        }
        return data
    }
</script>
<script>
    // new BeerSlider(document.getElementById('slider'));
    new BeerSlider(document.getElementById('slider2'));
</script>
<script src="js/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="js/left-side-menu.js"></script>
</body>
</html>


